body {
    border: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  p {
    text-align: center;
    display: block;
    font-size: 18px;
    position: relative;

  }

  h1 {
    text-align: center;
    display: block;
    font-size: 50px;
    position: relative;
    margin-left: 30px;
    transition: transform .2s;

  }


  h1:hover{
    text-align: center;
    display: block;
    font-size: 100px;
    position: relative;
    margin-left: 30px;
    transform: scale(1);
    color: blue;

  }

  .container {
    background-color: rgb(31, 62, 240);
    display: flex;
    margin-top: 90px;
  }
  
  .box {
    background-color: rgb(30, 248, 255);
    height: 100px;
    width: 100px;
    border: 1px solid rgb(43, 54, 255);
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    display: block;
    font-size: 15px;
    color:rgb(30, 248, 255);
    position: relative;
  }


  .box:hover {
    background-color: rgb(254, 254, 254);
    height: 100px;
    width: 100px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin: 20px;
  }


  .container2 {
    background-color: rgb(31, 62, 240);
    display: flex;
  }
 
  .box2 {
    background-color: rgb(30, 248, 255);
    height: 100px;
    width: 100px;
    border: 1px solid rgb(43, 54, 255);
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    color:rgb(30, 248, 255);
    position: relative;

  }

  .box2:hover {
    background-color: rgb(254, 254, 254);
    height: 100px;
    width: 100px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin: 20px;
  }