
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }

 p{
  position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: #ff0000;
    margin-left: 20px;
    font-size: 40px;
}

.text{
  opacity: 0%;
  font-size: 10px;
  margin-left: -10px;
}


.print-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ff0000;
  color: rgb(255, 0, 0);
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  z-index: 1;
}

.print-button:hover {
  background-color: #ff0000;
  color: #fff;
}


  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    height: 100vh;
    width: 100vw;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.confetti {
  position: relative;
}

.joy-text {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #f32121;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 124px;
  margin-left: -5px;
  z-index: 1;

}

.firework {
  position: absolute;
  margin-top: -25px;
  margin-left: 27px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(249, 0, 0); 
  animation: explode 2s ease-in-out infinite;
  opacity: 0;
  z-index: 0;
}



@keyframes explode {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(20);
      
  }
}

/* toggle */

.toggle-container {
  position: absolute;
  margin-top: -10px;
}

.switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ffbdbd;
  border-radius: 20px;
  border-color: #ff2600;
  transition: background-color 0.4s;
  animation: colorChange 2s linear infinite;
}

.round {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: #ff2600; /* Initial color - Tomato */
  border-radius: 50%;
  animation: moveAndChange 2s linear infinite;
}

@keyframes moveAndChange {
  0% {
      transform: translateX(0);
      background-color: #ff2600;
  }
  100% {
      transform: translateX(26px);
      background-color: #ffffff;
  }
  50% {
    transform: translateX(26px);
    background-color: #ffffff;
}
}

@keyframes colorChange {
  0% {
    background-color: #ffbdbd;
  }
  100% {
    background-color: hsl(0, 100%, 50%);
  }
}

.switch input:checked + .slider {
  background-color: #000000; /* Color when checked - MediumAquamarine */
}

.switch input:checked + .slider .circle {
  transform: translateX(26px);
}


.middle {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -430px;
  margin-left: -320px;
}

.animation {
  position: absolute;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at center, #ff0000 0%, #fff 100%);
  border-radius: 50%;
  animation: moveGradient 5s linear infinite;
}

#circle2 { animation-delay: 0.5s; }
#circle3 { animation-delay: 1s; }
#circle4 { animation-delay: 1.5s; }
#circle5 { animation-delay: 2s; }
#circle6 { animation-delay: 2.5s; }

@keyframes moveGradient {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100vw); }
}



  #animatedButton {
    display: flex;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 10px;
  background-color: rgb(253, 180, 180);
  color: red;
  font-family:'Courier New', Courier, monospace;
  border-color: red;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-top: 285px;
    margin-right: -190px;
    z-index: 1;
  }
  
  .looping-animation {
    animation: scaleOpacityAnimation 2s infinite; /* Adjust the duration as needed */
  }
  
  @keyframes scaleOpacityAnimation {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.8);
      opacity: 0.8;
    }
  }


 /* 8 */
  
 .scaling-shape {
    position: absolute;
    margin-right: -90px;
  }

  #rectangle {
    width: 180px;
    height: 20px;
    margin-top: -100px;
    margin-left: 970px;
    transform-origin: bottom;
    background-color: #ff0000;
    border-radius: 10px;
    animation: moveUpwards 2s infinite alternate;
  }

  #rectangle2 {
    width: 180px;
    height: 20px;
    margin-top: -115px;
    margin-left: 955px;
    transform-origin: bottom;
    background-color: #ff0000;
    border-radius: 10px;
    animation: moveAnimation 2s infinite alternate;
  }


  @keyframes moveAnimation {
    0% {
      rotate: 90deg;
  }

  100% {
    rotate: 180deg; /* Change this value to the desired expanded width */
  }

  50% {
    rotate: 90deg;
}

}

@keyframes moveUpwards {
  0% {
    transform: translateY(0px); /* Adjust this value based on the starting and ending position */
}
100% {
    transform: translateY(-50px);
}

50% {
  transform: translateY(0px);
}

}



  .parallax {
    position: absolute;
    margin-top: -600px;
    margin-right: 1250px;
    width: 100px;
    height: 100px;
  }
  
  .parallax-layer {
    position: absolute;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
    background-size: cover;
  }

  
  .layer1 {
    width: 200px;
    height: 150px;
    background-color: red;
    opacity: 70%;
    animation: parallaxLayer 2s linear infinite;
  }
  
  .layer2 {
    width: 200px;
    height: 150px;
    background-color: red;
    opacity: 50%;
    animation: parallaxLayer 5s linear infinite;
  }

  @keyframes parallaxLayer {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(100%);
  
    }
  }


  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: -180px;
  }
  
  .eye-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .eye {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ff0000;
    overflow: hidden;
  }
  
  .pupil {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #ff0000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }




.vertical-text-container {
    position: relative;
    height: 100%;
    margin-bottom: 100px;
    margin-left: -40px;
}

.vertical-text {
    position: relative;
    transform: translateX(100px) rotate(-90deg);
    white-space: nowrap;
    margin-left: -130px;
    animation: moveUp 5s linear infinite;
}

.vertical-text2 {
  position: relative;
  transform: translateX(100%) rotate(-90deg);
  white-space: nowrap;
  animation: moveDown 5s linear infinite;
  margin-left: 70px;
}



@keyframes moveUp {
    0% {
        transform: translateX(-50%) translateY(100vh) rotate(-90deg);
    }
    100% {
        transform: translateX(-50%) translateY(-100vh) rotate(-90deg);
    }
}

@keyframes moveDown {
  0% {
    transform: translateX(-50%) translateY(-100vh) rotate(-90deg);
  }
  100% {
    transform: translateX(-50%) translateY(100vh) rotate(-90deg);
  }
}



.animated-heart {
  width: 100px; /* Adjust the width as needed */
  height: 90px; /* Adjust the height as needed */
  animation: heartbeat 1s infinite;
  margin-right: 50px;
}

@keyframes heartbeat {
  0%, 20%, 50%, 80%, 100% {
      transform: scale(1);
  }
  40%, 60% {
      transform: scale(1.1);
  }
}



.loading {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.square {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-color: #ff0000; /* Shape color */
  margin-left: 170px;
}

.square {
  border-radius: 5px;
  animation: bounce 1s ease-in-out infinite;
  animation: rotate 1s ease-in-out infinite;
}

.rounder {
  border-radius:50%;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-50px);
  }
}

@keyframes rotate {
  0%, 100% {
      rotate: 90deg;
      transform: scaleY(1);
  }
  50% {
      rotate: 90deg;
      transform: scaleY(3);
      
  }

  100% {
    rotate: -90deg;
    transform: scaleY(1);
    
}
}




.center-container {
  position: absolute;
  width: 1920px;
  height: 1000px;
  margin-left: 480px;
  margin-top: 160px;
}

.animation-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at center, #f70000 0%, #fff 60%);
  border-radius: 50%;
  animation: moveGradient 5s linear infinite;
}

#circle2 { animation-delay: 0.5s; }
#circle3 { animation-delay: 1s; }
#circle4 { animation-delay: 1.5s; }
#circle5 { animation-delay: 2s; }
#circle6 { animation-delay: 2.5s; }

@keyframes moveGradient {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100vh); }
}


.loader {
  position: relative;
  border: 8px solid #ff0000;
  border-radius: 50%;
  border-top: 8px solid #f0f0f0;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-left: 190px;
  margin-top: -210px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.image-container{
opacity: 0%;
  height: 1px;
  width: 1px;
  z-index: 0;
}


@media print {
  body {
    background-color: #ffc6c6; /* Adjust text color for better print readability */
  }


  .parallax {
    position: absolute;
    margin-top: -600px;
    margin-right: 1250px;
    width: 100px;
    height: 100px;
  }



   
 .scaling-shape {
  position: absolute;
  margin-bottom: 1150px;
  margin-right: 60px;
}

#rectangle {
  width: 180px;
  height: 20px;
  margin-top: -100px;
  margin-left: 970px;
  transform-origin: bottom;
  background-color: #ff0000;
  border-radius: 10px;
  animation: moveUpwards 2s infinite alternate;
}

#rectangle2 {
  width: 180px;
  height: 20px;
  margin-top: -115px;
  margin-left: 955px;
  transform-origin: bottom;
  background-color: #ff0000;
  border-radius: 10px;
  animation: moveAnimation 2s infinite alternate;
}


.middle {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -930px;
  margin-left: -320px;
}

.animation {
  position: absolute;
}

.circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle at center, #ff0000 0%, #fff 100%);
  border-radius: 50%;
}

.square {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ff0000; /* Shape color */
  margin-left: 170px;
  margin-top: -900px;

}


#animatedButton {
  display: flex;
  padding: 10px 20px;
  font-size: 56px;
  cursor: pointer;
  border-radius: 10px;
background-color: rgb(253, 180, 180);
color: red;
font-family:'Courier New', Courier, monospace;
border-color: red;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-top: 385px;
  margin-right: -190px;
  z-index: 1;
}

p{
  position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: #ff0000;
    margin-left: 70px;
    font-size: 40px;
}

.loader {
  position: relative;
  border: 8px solid #ff0000;
  border-radius: 50%;
  border-top: 8px solid #f0f0f0;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
  margin-left: 190px;
  margin-top: -210px;
}


.animated-heart {
  width: 100px; /* Adjust the width as needed */
  height: 90px; /* Adjust the height as needed */
  animation: heartbeat 1s infinite;
  margin-right: 50px;
  margin-top: -560px;
}




}