body{
    background-image:linear-gradient(red, blue,white);
    width: 100vw;
  }

 
  .grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 2fr 1fr;
    grid-template-rows: 200px 200px;
    row-gap: 10px;
    column-gap: 15px;
  }
  
  .box {
    background-color: rgba(255, 255, 255);
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    margin: 30px;
  }
  
  .a {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: red;
  }

  .b{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: red;
  }

  .c{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: red;
    width: 560px;
    height: auto;
  }

  .span3 {
    width: 20%;
    height: 20%;
    display: inline;

  }

  .circle {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 50px;
    background: white;
    border-color: blue;
  }
  
  .d{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: 2;
    background-color: rgb(183, 0, 255);
    height: 360px;
  }

  .e{
    grid-column-start: 3;
    grid-column-end: span 5;
    grid-row-start: 3;
    grid-row-end: 1;
    background-color: rgb(246, 244, 244);
    height:20px;
  }
    
    

  .asterisk {
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 508px;
    position: absolute;
    top: 100px;
    left: 60px;
    animation-duration: 5s;
  animation-name: asterisk;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 50%;
  }

  @keyframes asterisk{
    0% {
      top: 9%;
      left: 7%;
      transform: rotate(0deg);
    }s
    50% {
      top: 9%;
      left: 7%;
      transform: rotate(360deg);
    }
    100% {
      top: 9%;
      left:7%;
      transform: rotate(720deg);
    }
  }
  


  